{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Classifier | Login & Resgister Form</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
	<link rel = "icon" href ="{% static 'img/logo_4.svg' %}" type="image/icon type">
</head>
<body>
	<center>
	<h4>
	{% for message in messages %}
		{{ message }}
	{% endfor %}
	<h4>
	</center>

 <div class="login-page">
 	<div class="box">
 		<div class="left">
 			<h3>Create Account</h3>
 			<button type="button" class="register-btn">Register</button>
 		</div>
 		<div class="right">
 			<h3>Have an Account ?</h3>
 			<button type="button" class="login-btn">Login</button>
 		</div>
 		<div class="form">
 			 <!-- Login form Start -->
			<form action ="{% url 'login' %}" method = "POST">
			{% csrf_token %}
 			 <div class="login-form">
 			 	<h3>Log In</h3>
 			 	<div class="form-group">
 			 		<input type="text" placeholder="Email Address*" class="form-control" name="email">
 			 	</div>
 			 	<div class="form-group">
 			 		<input type="password" placeholder="Password*" class="form-control" name="pass2">
 			 	</div>
 			 	<div class="form-group">
 			 		<label>
 			 			<!-- <input type="checkbox"> Remember Me -->
 			 		</label>
 			 	</div>
 			 	<button type="submit" class="submit-btn">Login</button>
 			 	<p><a href="{% url 'reset_password' %}" class="lost-pass-btn">Forgot Password ?</a></p>
 			 </div>
			</form>
 			 <!-- Login form End -->

             <!-- Register form Start -->
			 <form action ="{% url 'signup' %}" method = "POST">
				{% csrf_token %}
 			 <div class="register-form form-hidden">
 			 	<h3>Register</h3>
				  

 			 	<div class="form-group">
 			 		<input type="text" placeholder="First Name*" class="form-control" name="first_name">
 			 	</div>
 			 	<div class="form-group">
 			 		<input type="text" placeholder="Last Name*" class="form-control" name="last_name">
 			 	</div>
 			 	<div class="form-group">
 			 		<input type="text" placeholder="Email Address*" class="form-control" name="email">
 			 	</div>
				<div class="form-group">
					<input type="text" placeholder="Phone Number*" class="form-control" name="phnum">
				</div>
 			 	<div class="form-group">
 			 		<input type="password" placeholder="Password*" class="form-control" name="pass2">
 			 	</div>
 			 	
 			 	<button type="submit" class="submit-btn">Register</button>
 			 	<p><a href="{% url 'home' %}" class="login-btn">Home</a></p>
 			 </div>
			</form>
 			 <!-- Register form End -->
			
 			 <!-- Lost Password form Start -->
 			 <div class="lost-password-form form-hidden">
 			 	<h3>Forgot Password ?</h3>
 			 	<h5>You will receive a link to create a new password via email.</h5>
 			 	
 			 	<div class="form-group">
 			 		<input type="text" placeholder="Email Address*" class="form-control">
 			 	</div>
 			 	
 			 	
 			 	<button type="button" class="submit-btn">Reset Password</button>
 			 	<p><a href="{% url 'home' %}" class="login-btn">Home</a></p>
 			 </div>
 			 <!-- Lost Password form End -->

 		</div>
 	</div>
 </div>

 <script src="{% static 'accounts/script.js' %}"></script>
</body>
</html>