{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Classifier | Login & Resgister Form</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
	<link rel = "icon" href ="{% static 'img/logo_4.svg' %}" type="image/icon type">
</head>
<body>
	<center>
	<h4>
	{% for message in messages %}
		{{ message }}
	{% endfor %}
	<h4>
	</center>

 <div class="login-page">
 	<div class="box">
 		<div class="form">
			<h3>Password reset sent</h3>


			<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
			
			<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
 		</div>
 	</div>
 </div>

 <script src="{% static 'accounts/script.js' %}"></script>
</body>
</html>