{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Classifier | Login & Resgister Form</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
	<link rel = "icon" href ="{% static 'img/logo_4.svg' %}" type="image/icon type">
</head>
<body>
	<center>
	<h4>
	{% for message in messages %}
		{{ message }}
	{% endfor %}
	<h4>
	</center>

 <div class="login-page">
 	<div class="box">
 		
 		<div class="form">
 			 <!-- Lost Password form Start -->
 			 <div class="lost-password-form">
 			 	<h3>Forgot Password ?</h3>
 			 	<h5>You will receive a link to create a new password via email.</h5>
 			 	
 			 	<div class="form-group">
					<form method="post">

						{% csrf_token %}
						{{form}}
						<button type="submit" class="submit-btn">Reset Password</button>
						
					</form>
 			 	</div>
				  
 			 	<p><a href="{% url 'home' %}" class="login-btn">Home</a></p>
 			 </div>
 			 <!-- Lost Password form End -->

 		</div>
 	</div>
 </div>

 <script src="{% static 'accounts/script.js' %}"></script>
</body>
</html>