{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Classifier | Login & Resgister Form</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
	<link rel = "icon" href ="{% static 'img/logo_4.svg' %}" type="image/icon type">
</head>
<body>
	<center>
	<h4>
	{% for message in messages %}
		{{ message }}
	{% endfor %}
	<h4>
	</center>

 <div class="login-page">
 	<div class="box">
 		
 		<div class="form">

			
			<h3>Password reset complete</h3>

			<p>Your password has been set. You may go ahead and log in now.</p>
			
			<a href="{% url 'login' %}">Log in</a>

 		</div>
 	</div>
 </div>

 <script src="{% static 'accounts/script.js' %}"></script>
</body>
</html>